body
{
	background-color: black;
	color: white;
}

#top_menu
{
	position: fixed;
	top: 8px;
	left: 8px;
	right: 8px;
	min-height: 32px;

	border-radius: 8px;

	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
}

.top_menu_item
{
	background-color: #98BF21;
	border-radius: 8px;
	text-align: center;

	flex-direction: column;
	flex: 1 0 0;
	-webkit-flex: 1 0 0;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

.top_menu_item:hover
{
	flex: 2 0 0;
	background-color: green;
}

#footer-locker
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 10%;
	height: 32px;
	background-color: blue;
	text-align: center;
	background-color: #C6C6C6;
	color: black;
}

#footer-locker:hover
{
	background-color: #98BF21;
}

#footer
{
	position: fixed;
	bottom: 0px;
	right: 90%;
	width: 90%;
	min-height: 16px;
	height: 32px;
	background-color: black;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;	
}

#footer:hover
{
	right: 10%;
	background-color: #404040;
}

#footer-handle
{
	height: 100%;
	background-color: #C6C6C6;

	text-align: right;

	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

#footer-handle:hover
{
	background-color: #676767;	

}

#footer-content
{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: flex-start;
}

.footer-content-item
{
	flex-direction: column;
	flex: 1 0 0;
	-webkit-flex: 1 0 0;
	text-align: center;
	margin: 2px;
	/*background-color: #9E9A9A;*/
	background-color: #262626;
	height: 32px;
}

.footer-content-item:hover
{
	background-color: #C6C6C6;
	color: #404040;
}

#server_connected
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 40px;
	right: 0px;
}

#inet_connected
{
	position: fixed;
	width: 64px;
	height: 64px;
	top: 104px;
	border-radius: 50%;
	right: 0px;	
}

#content
{
	position: absolute;
	top: 40px;
	left: 10%;
	right: 10%;
	width: 80%;
	min-height: 70%;
	background-color: #141414;
	margin-bottom: 25px;
	padding-bottom: 100px;
}

#content-title
{
	position: relative;
	height: 100px;
	color: #98BF21;
	width: 100%;
	background-color: #636363;
	text-align: center;
}

#content-title:hover
{
	background-color: #C6C6C6;
	color: #602571;
}

#content-title-content
{
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#content-content
{
	position: relative;
	top: 0px;
	width: 100%;
	min-height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#msg_box
{
	position: fixed;
	top: 32px;
	left: 50%;
	-webkit-transform: translate(-50%, 0px);
	-moz-transform: translate(-50%, 0px);
	-ms-transform: translate(-50%, 0px);
	-o-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	background-color: #C6C6C6;
	border-radius: 16px;
	min-width: 256px;
	min-height: 64px;
	color: black;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}

#msg_box:hover
{
	background-color: #404040;
	color: white;
}

#msg_box_txt
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}